*{
    font-family: 'Roboto','Roboto light', sans-serif;
}

nav{
    font-size: 20px;
}

.card-text{
    color: #707070;
}

.direccion{
    font-size: 13px;
    color: #707070;
}

.small, small {
    font-size: 16px;
}

.text-muted{
     --bs-text-opacity: 1;
    color: #707070!important;
}

.oferta{
    font-family:'Roboto','Roboto Medium', sans-serif;
    font-size: 20px;
}

footer{
    color: #707070;
}
